<div class="d-flex">
  <p>Simple Airbnb</p>
  <p class="btn btn-outline-primary"><%= link_to 'Add Flat', new_flat_path %></p>
</div>

<h1>All our flats</h1>
<div class="container d-flex mb-3">
  <ul>
    <% @flats.each do |flat| %>
    <div class="card-trip">
      <img src="<%= flat.picture_url %>" />
      <div class="card-trip-infos">
        <div>
          <h2><%= flat.name %></h2>
          <p><%= flat.address %></p>
            <div>
                <p><%= flat.price_per_night %></p>
                <p><%= flat.number_of_guests %></p>
            </div>
        </div>

        <div class="d-flex">
          <p><%= link_to 'More info', flat_path(flat) %></p>
          <p class="text-warning ml-2"><%= link_to 'Edit', edit_flat_path(flat) %></p>
          <p class="text-danger ml-2"><%= link_to 'Delete', flat_path(flat), method: :delete, data: { confirm: "Are you sure?" } %></p>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
</div>



